<div class="row">
    <div class="col-lg-12">
        <div id="pieChartAssets" width="400" height="400"></div>
    </div>
</div>   
<hr />
<div class="row">
    <div class="col-lg-12">
        <div id="transactionList"></div>
    </div>
</div>   

@section scripts
{
    <script>
        $(function () {

            helper.get('/Chart/GetAssetsChart', function (data) {

                var sum = 0;
                for (var i in data)
                {
                    sum += data[i].y;
                }
                var title = 'Vermögen: ' + helper.numberToString(sum) + ' CHF';

                helper.showPieChart('#pieChartAssets', title, data, function (id, name)
                {
                    helper.addPartialHtml('/Account/GetTransactionList/' + id, '#transactionList', function () {
                        helper.createDataTable('#transactions');
                        helper.setEditTransactionClick('a.edit');
                    });
                });
            });
        });
    </script>
}
